@model JobHunting.Models.ResetPasswordModel

@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutEmp.cshtml";
}

<h2>Reset Password</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-2">
                <div class="form-horizontal">
                    <h4>Reset Password</h4>
                    <hr />
                    <div class="text-danger">
                        @ViewBag.Message
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ConfermPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ConfermPassword, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ConfermPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.HiddenFor(x => x.ResetCode)
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Reset" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
